:root{
  --font-body: Arial, Helvetica, sans-serif;
  --font-display: Arial, Helvetica, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;;

  --grey-05: #eef0f2;
  --grey-10: rgb(207,212,218);
  --grey-default: rgb(207,212,218);
  --grey-20: rgb(146,151,156);
  --grey-30: rgb(98,103,108);
  --grey-40: rgb(62,66,71);
  --grey-50: rgb(36,40,44);
  --grey-60: rgb(18,22,27);
  --grey-70: rgb(15,4,17);

  --size-200: 0.694rem;
  --size-300: 0.833rem;
  --size-400: 1rem;
  --size-500: 1.2rem;
  --size-600: 1.44rem;
  --size-700: 1.728rem;
  --size-800: 2.074rem;
  --size-900: 2.488rem;
  --size-1000: 2.986rem;
}

/* Reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html, body {
  font-size: 100%;
  font-family: var(--font-body);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
h1 {font-size: clamp(var(--size-900), 5vw, 4rem)}
h2, h2 code {font-size: var(--size-800);}
h3, h3 code {font-size: var(--size-700);}
h4 {font-size: var(--size-600);}
h5 {font-size: var(--size-500);}
small {font-size: var(--size-300);}
.flow > * + * { margin-top: var(--flow-space, 1em);}
blockquote {
  font-family: var(--font-serif);
}

header, main {
  max-width: 720px;
  margin: 0 auto;
  padding: var(--size-400);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--size-400);
}

.tweet-list {
  list-style: none;
  padding: 0;
}

.tweet {
  border: 1px solid var(--grey-10);
  border-radius: 0.5rem;
  margin-bottom: var(--size-600);
}

.tweet header, .tweet footer, .tweet .tweet-content {
  padding: var(--size-300) var(--size-400);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.tweet header div {
  display: flex;
  align-items: center;
  font-size: var(--size-300);
  gap: var(--size-300);
}

.tweet footer {
  background-color: var(--grey-05);
  display: flex;
  gap: 2rem;
}

.tweet footer div, .tweet footer div a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.active {
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  :root {
    --size-200: 0.64rem;
    --size-300: 0.8rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.563rem;
    --size-700: 1.953rem;
    --size-800: 2.441rem;
    --size-900: 3.052rem;
    --size-1000: 3.815rem;
  }
  html, body {
    font-size: 112.5%;
  }
}
