<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sia's Twitter Archive</title>

  {% set css %}
    {% include "index.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tweets">Tweets</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
