---
layout: layouts/index.njk
---

<section class="flow">
  <h1>Sia's Twitter Archive</h1>

  <p>
    Welcome! This is my public MVP of an 11ty static-site generator for
    rendering a Twitter archive. I made it public to inspire folks, but further
    development will be on a private version where my full Twitter archive will
    be. I'll probably use this as a starting point for owning my own short form
    "notes" with this being a historical archive of old notes.
  </p>

  <p>
    Find the source code on
    <a href="https://github.com/siakaramalegos/pesos-tweets-11ty">Github</a>.
  </p>

  <p>View <a href="/tweets">Tweets</a></p>
</section>
